{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/assignment_detail.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>
<div style="margin-left: 5%">
	{% if ad %}
	{% for ad_only in ad %}
    <h1><b>{{ ad_only.fields.site_title }}</b></h1>
    <p>Website url: <a href= {{ad_only.fields.url}} >{{ ad_only.fields.url }}</a></p>
    <h5><b>${{ad_only.fields.cost }}</b> for <b>{{ ad_only.fields.duration }}</b> days</h5>
    {% endfor %}
    {% else %}
 	<p>Ad not found</p>
 	{% endif %}
    <!-- show ad image -->
</div>
{% endblock %}