<!-- templates/home.html-->
{% extends 'base.html' %}
<div style="padding-left: 20px">
  {% block title %}Home{% endblock %}

  {% block content %}

</div>

<div class="panel-body">
  <h3>AdSpace For Sale:</h3>
  <div style="margin:20px">
    {% if ads %}
    {% for ad in ads %}
    <div class="row mb-2" style="background-color: white; outline-style: solid; outline-color: lightgrey;">
      <p style="padding: 10px; margin: 0px"><a href="/{{ad.pk}}/detail" target="_blank"
          style="color:blue"><b>{{ ad.fields.site_title }}</b></a> - ${{ ad.fields.cost }} for {{ ad.fields.duration }} days</p>
    </div>
    {% endfor %}
    {% else %}
  </div>
  <p>No ad space for purchase</p>
  {% endif %}
</div>
{% endblock content %}
