{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<div class="container">
  <div class="starter-template">
    <h1>Ads</h1>
    {% if not results %}
    <h3>No Results</h3>
    {% endif %}
    {% for ad in ads %}
    <div class="row mb-2" style="background-color: white; outline-style: solid; outline-color: lightgrey;">
      <p style="padding: 10px; margin: 0px"><a href="{{ ad.id }}/ad_detail" target="_blank"
      style="color:blue"><b>{{ ad.site_title }}</b></a> - ${{ ad.cost }} for {{ ad.duration }} days</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
